<div>
  <h3>Adding new Place</h3>
  <label>Name:</label>
  <input required [(ngModel)]="newPlace.name"/>
  <br/>

  <label>Info:</label>
  <input required [(ngModel)]="newPlace.info"/>
  <br/>

  <label>Image:</label>
  <input [(ngModel)]="newPlace.image"/>
  <br/>

  <label>Radius:</label>
  <input [(ngModel)]="newPlace.radius"/>
  <br/>

  <label>Longitude:</label>
  <input [(ngModel)]="newPlace.position.lng"/>
  <br/>

  <label>Latitude:</label>
  <input [(ngModel)]="newPlace.position.lat"/>
  <br/>

  <button (click)="submit()">Submit</button>
</div>
