<div *ngIf="!deleted">
  <h2>Editing #{{bundle._id}}</h2>
  <label>Name:</label>
    <input required [(ngModel)]="bundle.name"/>
  <br/>

  <label>Info:</label>
    <input required [(ngModel)]="bundle.info"/>
  <br/>
  <label>Paths:</label>
    <input required [(ngModel)]="bundle.paths"/>
  <br/>
  <label>Image:</label>
    <input [(ngModel)]="bundle.image"/>
  <br/>

  <button id="finish-edit" (click)="updateBundle()">Submit</button>
  <button id="delete" (click)="deleteBundle()">DELETE</button>
</div>
