<title>{{title}}</title>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <span class="navbar-brand mb-0 h1">Hiking Trails</span>
  <button class="nav-item nav-link" (click)="toggleAddBundle()">Add a bundle</button>
  <button class="nav-item nav-link" (click)="toggleAddPath()">Add a path</button>
  <button class="nav-item nav-link" (click)="toggleAddPlace()">Add a place</button>
</nav>

<app-add-bundle *ngIf="showAddBundle"></app-add-bundle>
<app-add-path *ngIf="showAddPath"></app-add-path>
<app-add-place *ngIf="showAddPlace"></app-add-place>

<app-view-bundle class="container"></app-view-bundle>
