<div>
  <h3>Adding new Path</h3>
  <label>Name:</label>
    <input required [(ngModel)]="newPath.name"/>
  <br/>

  <label>Info:</label>
    <input required [(ngModel)]="newPath.info"/>
  <br/>

  <label>Length:</label>
    <input required [(ngModel)]="newPath.length"/>
  <br/>

  <label>Duration:</label>
    <input required [(ngModel)]="newPath.duration"/>
  <br/>

  <label>Places:</label>
    <input required [(ngModel)]="newPath.places"/>
  <br/>

  <label>Image:</label>
    <input [(ngModel)]="newPath.image"/>
  <br/>

  <button (click)="submit()">Submit</button>
</div>
