<h2>HikingTrails - Bundles</h2>
<div class="bundle" *ngFor="let bundle of bundles" (click)="toggleMoreInfo(bundle)">
  <h3>{{bundle.name}}</h3>
  <p>{{bundle.info}}</p>
</div>

<div class="more-bundle-info" *ngIf="showMoreInfo">
    <div class="path" *ngFor="let path of selectedBundle.paths">
      <app-view-path [path_id]="path"></app-view-path>
    </div>
    <button class="edit" (click)="toggleEdit()">Edit bundle</button>
    <app-edit-bundle (delBundle)="onDelBundle($event)" *ngIf="showEditBundle"
    [bundle]="selectedBundle"></app-edit-bundle>
</div>

<button (click)="toggleAddBundle()">Add a bundle</button>
<button (click)="toggleAddPath()">Add a path</button>
<button (click)="toggleAddPlace()">Add a place</button>

<app-add-bundle (addBundle)="onAddBundle($event)" *ngIf="showAddBundle"></app-add-bundle>
<app-add-path *ngIf="showAddPath"></app-add-path>
<app-add-place *ngIf="showAddPlace"></app-add-place>
