<h2>HikingTrails - Bundles</h2>
<div class="col-md-6 bundles">
  <div class="bundle" *ngFor="let bundle of bundles" (click)="toggleMoreInfo(bundle)">
    <h3>{{bundle.name}}</h3>
    <p>{{bundle.info}}</p>
    <img *ngIf="bundle.image" src="{{ bundle.image }}">
  </div>
</div>

<div class="col-md-6 bundle-more-info" *ngIf="showMoreInfo">
  <h2>Bundle {{selectedBundle.name}}</h2>
  <p>{{selectedBundle.info}}</p>
  <p>It covers {{selectedBundle.paths.length}} paths.</p>
    <!-- this throws an error when editing "trying to diff 1234..." only arrays and iterables are allowed -->
    <div class="path" *ngFor="let path of selectedBundle.paths">
      <app-view-path [path_id]="path"></app-view-path>
    </div>
    <button class="edit" (click)="toggleEdit()">Edit bundle</button>
    <app-edit-bundle (delBundle)="onDelBundle($event)" *ngIf="showEditBundle"
      [bundle]="selectedBundle"></app-edit-bundle>
</div>
